footer {
    background-color: #1a1a1a;
    color           : white;

    .content {
        display: flex;
        width  : 100%;

        .flex-footer {
            display    : flex;
            margin     : auto;
            align-items: center;

            svg {
                font-size: 167px;
            }

            .flex-footer-desc {
                margin: 0 20px;
                width : 100%;

                .fa {
                    padding        : 10px;
                    font-size      : 20px;
                    width          : 20px;
                    text-align     : center;
                    text-decoration: none;
                    margin         : 5px 2px;
                    border-radius  : 50%;
                    background     : rgb(100, 99, 99);
                    cursor         : pointer;

                    &:hover {
                        color           : #333333;
                        transition      : 0.2s;
                        background-color: rgb(234, 234, 240);
                    }
                }
            }

            form {
                display: flex;
                width  : 100%;

                input {
                    padding   : 10px;
                    width     : 420px;
                    max-width : 100%;
                    text-align: left;
                    height    : 40px;
                    border    : none;
                    background: #262626;
                    color     : #fff;

                    &:focus {
                        outline: none;
                    }
                }
            }
        }
    }
}