nav {
    background-color: #FFFFFF;
    width           : 100%;
    height          : 80px;
    display         : flex;
    justify-content : center;
    margin          : 0;
    position        : fixed;
    z-index         : 100;

    .menu {
        margin     : auto;
        align-items: center;

        button {
            border        : none;
            // font-weight: bold;
            margin        : 16px;
            background    : none;
            font-size     : 18px;
            cursor        : pointer;

            &:focus {
                outline: none;
            }
        }
    }
}