.container {
    .content {
        width   : 100%;
        height  : 100%;
        overflow: hidden;

        .content-wrapper {
            .slide {
                margin: 70px 0;

                &:focus {
                    outline: none;
                }

                .slick-slider {
                    img {
                        width : 100%;
                        height: 100%;

                        &:focus {
                            outline: none;
                        }
                    }
                }
            }

            .wrapper-col {
                width     : 100%;
                text-align: center;
                margin    : 50px 0;

                .tab {
                    h2 {
                        font-weight: normal;
                    }

                    .react-tabs {

                        .react-tabs__tab-list {
                            border: none;

                            &:active,
                            :hover {
                                color      : black;
                                font-weight: bold;
                            }

                            .react-tabs__tab--selected {
                                border: none;
                            }
                        }

                        .product-slider {
                            margin: 0 132px;

                            .swiper-container {
                                .swiper-wrapper {
                                    .swiper-slide {
                                        margin: 0 -12px;
                                        cursor: pointer;
                                        &:hover{
                                            img{
                                                opacity: 0.5;
                                            }
                                            .hover{
                                                opacity: 1;
                                            }
                                        }

                                        img {
                                            width        : 90%;
                                            height       : 90%;
                                            border-radius: 5px 5px 5px 5px;
                                        }

                                        .hover {
                                            margin-top: -250px;
                                            z-index   : 100;

                                            button {
                                                border-radius: 5px;
                                                padding      : 15px;
                                                border       : none;
                                                font-size    : 18px;
                                                cursor       : pointer;

                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}